<h3>Edit This Event</h3>

<form {{action 'editEvent' on='submit'}}>

  {{input placeholder=event.title value=event.title}}
  {{input placeholder=event.location value=event.location}}
  {{input placeholder=event.date type="date" value=event.date}}
  {{input placeholder=event.time type="time" value=event.time}}
  {{input placeholder=event.seats value=event.seats}}
  {{input placeholder=event.body value=event.body}}


  <button type='submit'>Save</button>

</form>
