<h3>{{event.title}}</h3>
  <li>{{event.location}}</li>
  <li>{{event.date}}</li>
  <li>{{event.time}}</li>
  <li>{{event.seats}}</li>
  <li>{{event.body}}</li>

{{!-- {{edit-form event=model editEvent='editEvent'}} --}}

<button {{action 'editEvent'}}>Edit Event</button>
<button {{action 'deleteEvent'}}>Delete Event</button>


{{!-- class="event-header" {{action 'toggleEventDetail'}} --}}
