<h3>{{event.title}}</h3>
  <li>{{event.location}}</li>
  <li>{{event.date}}</li>
  <li>{{event.time}}</li>
  <li>{{event.seats}}</li>
  <li>{{event.body}}</li>

{{!-- <button {{action 'editEvent'}}>Edit </button> --}}
<button {{action 'deleteEvent'}}>Delete Event</button>
{{event/edit-form editEvent='editEvent'}}

{{!-- class="event-header" {{action 'toggleEventDetail'}} --}}
