<h3 class="list-header" {{action 'toggleEditForm'}}>Edit This Event</h3>

<form {{action 'editEvent' on='submit'}}>

  {{input placeholder='New Event Name' value=newEvent.title}}
  {{input placeholder='New Event Location' value=newEvent.location}}
  {{input placeholder='New Event Date' type="date" value=newEvent.date}}
  {{input placeholder='New Event Time' type="time" value=newEvent.time}}
  {{input placeholder='New Seats Available' value=newEvent.seats}}
  {{input placeholder='New Event Details' value=newEvent.body}}


  <button type='submit'>Save</button>

</form>
